{% extends "base.html" %}
{% block title %}用户{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                人员管理系统
            </h3>
            <a id="modal-471624" href="#alterTransaction"
               role="button" class="btn" data-toggle="modal">添加人员</a>

            <!-- 弹窗模板 -->
            <div class="modal fade" id="alterTransaction"
                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加人员
                            </h4>
                        </div>
                        <div class="modal-body">
                            内容...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table"  id="user_table">
                <thead>
                <tr>
                    <th>
                        社区
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        联系方式
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 表格模版 -->
                <!--<tr>-->
                    <!--<td>-->
                        <!--高科苑-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--cjj-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--110-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a href="#alterTransaction" data-toggle="modal" onclick="modify_it()">修改</a>-->
                        <!--/-->
                        <!--<a href="#alterTransaction" data-toggle="modal" onclick="delete_it()">删除</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <th id="just4test"></th>
                </tbody>
            </table>

            <!--TODO: 分页-->
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(
            function() {
                console.log('document ready');
                $.post('/user/1/page/',{curr:1, page:1},
                        function (ret) {
                            console.log(ret)
                            refresh_table(ret);
                        }
                )
            }
    );

    function refresh_table(ret) {
        console.log("refresh user table");
        $('#just4test').text(ret)

    }

    function add_it() {
        console.log("add it");
    }

    function modify_it() {
        console.log("modify it");
        $("#myModalLabel").text("修改人员信息")
    }

    function delete_it() {
        console.log("delete it");
        $("#myModalLabel").text("删除人员")
    }
</script>
{% endblock script %}
