{% extends "base.html" %}
{% block title %}用户{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                人员管理系统
            </h3>
            <a id="modal-471624" href="#alterUser"
               role="button" class="btn" data-toggle="modal">添加人员</a>

            <!-- 弹窗模板 -->
            <div class="modal fade" id="alterUser"
                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加人员
                            </h4>
                        </div>
                        <div class="modal-body" id="myModalBody">
                            内容...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table" id="user_table">
                <thead>
                <tr>
                    <th>社区</th>
                    <th>姓名</th>
                    <th>联系方式</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody id="t_body">
                </tbody>

            </table>

            <!--TODO: 分页-->
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(
            function() {
                console.log('document ready');
                $.post('/user/1/page/',{curr:1, page:1},
                        function (ret) {
                            console.log(ret);
                            refresh_table(ret);
                        }
                )
            }
    );

    function refresh_table(ret) {
        console.log("refresh user table");
        var ret_json = eval('(' + ret +')');
        $("table tbody").html("");
        var i_key;
        for(i_key in ret_json){
            var t_body = document.getElementById('t_body');

            var tr = document.createElement('tr');
            if (i_key % 2)
                tr.setAttribute('class', 'info');
            else
                tr.setAttribute('class', 'error');
            var td_community = document.createElement('td');
            var td_username = document.createElement('td');
            var td_contact = document.createElement('td');

            var user_id = ret_json[i_key][0];
            td_community.innerHTML = ret_json[i_key][1];
            td_username.innerHTML = ret_json[i_key][2];
            td_contact.innerHTML = ret_json[i_key][3];

            var td_operation = document.createElement('td');
            var a1 = document.createElement('a');
            var a2 = document.createElement('a');
            var text = document.createTextNode('/');
            a1.setAttribute('href', '#alterUser');
            a1.setAttribute('data-toggle', 'modal');
            a1.setAttribute('onclick', 'modify_it()');
            a1.innerHTML = '修改';
            a2.setAttribute('href', '#alterUser');
            a2.setAttribute('data-toggle', 'modal');
            a2.setAttribute('onclick', 'delete_it()');
            a2.innerHTML = '删除';

            td_operation.appendChild(a1);
            td_operation.appendChild(text);
            td_operation.appendChild(a2);

            tr.appendChild(td_community);
            tr.appendChild(td_username);
            tr.appendChild(td_contact);
            tr.appendChild(td_operation);
            t_body.appendChild(tr);
        }
    }

    function add_it() {
        console.log("add it");
    }

    function modify_it() {
        console.log("modify it");
        $("#myModalLabel").text("修改人员信息");

    }

    function delete_it() {
        console.log("delete it");
        $("#myModalLabel").text("删除人员");
        $("#myModalBody").text("Sure?");
    }
</script>
{% endblock script %}
