<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gold.png') }}"/>
    <title>{% block title %}{% endblock title %} - 彩虹桥</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- datatables -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css"
          rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- font awesome -->
    <link href="/static/fontawesome-4.7/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/fontawesome-4.7/css/font-awesome.css" rel="stylesheet"/>
    {% endblock head%}

</head>

<body>

<!-- 修改密码 -->
<div class="container" align="center">
    <div class="modal fade" id="resetPassword"
         role="dialog" aria-labelledby="myModalLabel_rstpwd" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel_rstpwd">修改密码</h4>
                </div>

                <div class="modal-body" id="myModalBody_rstpwd">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-6">
                                <input size="16" id="username" type="text" value="" placeholder="用户名"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">原密码</label>
                            <div class="col-lg-6">
                                <input size="16" id="old_password" type="password" value="" placeholder="原密码"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">新密码</label>
                            <div class="col-lg-6">
                                <input size="16" id="new_password" type="password" value="" placeholder="新密码"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">再次输入</label>
                            <div class="col-lg-6">
                                <input size="16" id="confirm_new_password" type="password" value=""
                                       placeholder="确认新密码"
                                       class="form-control input-sm c6" data-content="输入不一致" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="no_btn" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="yes_btn" class="btn btn-danger" onclick="confirm_reset_pwd()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模仿leetcode导航栏 -->
{% if session['logged_in'] == True %}
<div class="navbar navbar-inverse navbar-extra">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">彩虹桥</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index"><font color="{% if selected_menu == 'index' %}orange{% endif %}">首页</font></a></li>
                <li><a href="product"><font color="{% if selected_menu == 'product' %}orange{% endif %}">产品</font></a></li>

                {% if session['u_role'] == 'root' or session['u_role'] == 'admin' %}
                <li><a href="transaction">
                    <font color="{% if selected_menu == 'transaction' %}orange{% endif %}">流水</font></a></li>
                <li><a href="mission"><font color="{% if selected_menu == 'mission' %}orange{% endif %}">任务</font></a></li>
                <li><a href="order"><font color="{% if selected_menu == 'order' %}orange{% endif %}">订单</font></a></li>
                <li><a href="user"><font color="{% if selected_menu == 'user' %}orange{% endif %}">人员</font></a></li>
                {% endif %}

                {% if session['u_role'] == 'root' %}
                <li><a href="community"><font color="{% if selected_menu == 'community' %}orange{% endif %}">社区</font></a></li>
                {% endif %}
            </ul>

            <ul id="navbar-right" class="nav navbar-nav navbar-right">
                <i class="fa fa-user" aria-hidden="true"></i>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if session['u_role'] == 'user' %}
                        <i class="fa fa-user fa-fw"></i>
                        {% elif session['u_role'] == 'admin' %}
                        <i class="fa fa-user-circle fa-fw"></i>
                        {% elif session['u_role'] == 'root' %}
                        <i class="fa fa-user-md fa-fw"></i>
                        {% endif %}

                        {{ session['u_name'] | e }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#resetPassword" data-toggle="modal"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> 修改密码</a></li>
                        <li><a href="/log_out"><i class="fa fa-times-circle-o fa-fw" aria-hidden="true"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}


<!-- Body -->
<div id="content" align="center">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
{% if session['logged_in'] == True %}
<div class="container" align="center" style="bottom: 0;left: 0; right: 0;">
    <hr>
    <p class="text-muted credit">
        <a href="http://github.com/sonnyhcl/SimpleWebProject">Simple Web Project</a>
        <br>
        &copy; Copyright 2017
    </p>
</div>
{% endif %}


{% block script %}
<!-- jquery -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>

<!-- bootstrap -->
<script src="http://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- 动态线条 -->
<script src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script src="/static/js/dynamicbg.js"></script>

<!-- jquery.datatables -->
<script src="http://cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>

<!--设置readonly操作-->
<script type="text/javascript">
    function set_readOnly(id) {
        document.getElementById(id).readOnly = true;
    }

    function unset_readOnly(id) {
        document.getElementById(id).readOnly = false;
    }
</script>

<!-- 修改密码 -->
<script type="text/javascript">
    function check_password(name, old_password, new_password, confirm_new_password) {
        if (name === "") {
            $('#username').popover('show');
            return (false);
        }
        if (old_password === "") {
            $('#old_password').popover('show');
            return (false);
        }
        if (new_password === "") {
            $('#new_password').popover('show');
            return (false);
        }
        if (confirm_new_password === "" || confirm_new_password !== new_password) {
            $('#confirm_new_password').popover('show');
            return (false);
        }
        return (true);
    }

    function reset_password() {
        console.log('reset password');
        $('#yes_btn').attr('onclick', 'confirm_reset_pwd()');
    }

    function confirm_reset_pwd() {
        console.log('confirm reset password');
        if (!check_password($('#username').val(), $('#old_password').val(),
                $('#new_password').val(), $('#confirm_new_password').val())) {
            return;
        }
        $.post("/reset_password", {
            'username': $('#username').val(),
            'old_password': $('#old_password').val(),
            'new_password': $('#new_password').val()
        }, function (ret) {
            console.log(ret);
            location.href = '/log_out';
        })
    }
</script>
{% endblock script %}

</body>
