<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gold.png') }}"/>
    <title>{% block title %}{% endblock title %} - My Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    {% endblock head%}
</head>

<body>
<div id="content" align="center">{% block content %}{% endblock content%}</div>
</body>

<footer>
    <div align="center">
        {% block footer %}
        <a href="http://github.com/sonnyhcl/SimpleWebProject">Simple Web
            Project</a>
        <br>
        &copy; Copyright 2017
        {% endblock footer %}
    </div>
</footer>