{% extends "base.html" %}
{% block title %}社区{% endblock %}
{%  set selected_menu = "community" %}

{% block content %}
<div class="container">
    <!-- 增改弹窗模板 -->
    <div class="modal fade" id="alterCommunity"
         role="dialog" aria-labelledby="communityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="communityModalLabel">标题</h4>
                </div>

                <div class="modal-body" id="communityModalBody">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">社区名称</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_name" type="text" value="" placeholder="名字"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom" tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="community_no_btn" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="community_yes_btn" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除弹窗模版 -->
    <div class="modal fade bs-example-modal-sm" id="community_confirmDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="communityModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">确认删除该社区信息？</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='community_confirm-del-button' autofocus type="button" class="btn btn-danger" onclick="">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 标题 -->
            <h3 id="community_manage_title">社区管理系统</h3>
            <br>
            <!-- 添加按钮 -->
            <a id="add_community" href="#alterCommunity" role="button" data-toggle="modal"
               onclick="add_it()" class="btn btn-primary">添加社区</a>
            <!-- 表格 -->
            <table class="table table-bordered table-striped table-hover" cellspacing="0"
                   id="community_table" width="100%">
            </table>
        </div>
    </div>
</div>

<!-- cid -->
<input type="hidden" id="get_c_id" value="{{ session['c_id'] }}">

{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        var doc_table;
        var cid = $("#get_c_id").attr("value");
        console.log('document ready');
        $.post('/community/'+ cid,
            function (ret) {
                doc_table = $('#community_table').dataTable({
                    "aoColumns": [
                        {
                            "width": "12%",
                            "sTitle": "社区编号"
                        },
                        {   "sTitle": "社区"},
                        {
                            "width": "12%",
                            "sTitle": "操作",
                            "bSortable": false
                        }
                    ],
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sFirst": "第一页",
                            "sLast": "最后一页"
                        },
                        "sZeroRecords": "似乎来到了一块没有数据的荒原...",
                        "sInfo": "共 _PAGES_ 页，从第 _START_ 到第 _END_ 页，共 _TOTAL_ 条 ",
                        "sInfoEmpty": "0 条记录",
                        "sInfoFiltered": "",
                        "sLengthMenu": "显示 _MENU_ 条",
                        "sSearch": "搜索",
                        "sProcessing": "正在获取数据，请稍等..."
                    },
                    "bSort": true,
                    "bPaginate": true,
                    "sPaginationType": "full",
                    "sPageButton": "",
                    "bAutoWidth": true,
                    "bScrollCollapse": true,
                    "bStateSave": true
                });

                var communities = ret.data;
                for (var ij in communities) {
                    doc_table.fnAddData([
                        communities[ij].c_id,
                        communities[ij].c_name,
                        "<button href='#alterCommunity' data-toggle='modal' onclick='modify_it(" +
                        communities[ij].c_id + ")' class='btn btn-default' type='button'>修改</button>" + "  " +
                        "<button href='#community_confirmDeleteModal' data-toggle='modal' onclick='delete_it( " +
                        communities[ij].c_id + ")' class='btn btn-danger' type='button'>删除</button>"
                    ])
                }
            }, 'json');
    });

    function check_value(name) {
        if (name === "") {
            $('#t_name').popover('show');
            return (false);
        }
        return (true);
    }

    function add_it() {
        console.log("add it");
        $("#communityModalLabel").text("添加社区信息");
        $("#community_yes_btn").attr('onclick', 'community_confirm_add_member()');
    }

    function community_confirm_add_member() {
        console.log('community_confirm_add_member');
        if (!check_value($("#t_name").val())){
            return;
        }
        $.post("/community/add", {
            'c_name': $("#t_name").val()
        }, function (ret) {
            console.log(ret);
            location.href = '/community';
        });
    }

    function modify_it(id) {
        console.log("modify it:" + id);
        $.post("/community/" + id, function (ret) {
            console.log(ret);
            data = ret.data[0];
            $("#t_name").val(data.c_name);

            $("#communityModalLabel").text("修改社区信息");
            $("#community_yes_btn").attr('onclick', 'community_confirm_modify_member(' + id + ')');
        }, 'json');
    }

    function community_confirm_modify_member(id) {
        console.log("community_confirm_modify_member:" + id);
        if (!check_value($("#t_name").val())){
            return;
        }
        $.post("/community/modify", {
            'c_id': id,
            'c_name': $("#t_name").val()
        }, function (ret) {
            console.log(ret);
            location.href = '/community';
        });
    }

    function delete_it(id) {
        console.log("delete it");
        $('#community_confirm-del-button').attr('onclick', 'community_confirm_del_member(' + id + ')');
    }

    function community_confirm_del_member(id) {
        console.log("community_confirm_del_member:" + id);
        $.post("/community/delete", {
            'c_id': id
        }, function (ret) {
            console.log(ret);
            location.href = '/community';
        })
    }
</script>

{% endblock script %}
