{% extends "base.html" %}
{% block title %}社区{% endblock %}
{%  set selected_menu = "community" %}

{% block content %}
<div class="container">
    <!-- 增改弹窗模板 -->
    <div class="modal fade" id="alterCommunity"
         role="dialog" aria-labelledby="myModalLabel_comm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel_comm">标题</h4>
                </div>

                <div class="modal-body" id="myModalBody_comm">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">社区名称</label>
                            <div class="col-lg-6">
                                <input size="16" id="c_name" type="text" value="" placeholder="名字"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom" tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">管理员</label>
                            <div class="col-lg-6">
                                <!-- 表格 -->
                                <select id="c_admin_table" class="form-control input-sm" style="color:#666666"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="no_btn_comm" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="yes_btn_comm" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除弹窗模版 -->
    <div class="modal fade bs-example-modal-sm" id="confirmDeleteModal_comm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel_comm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">确认删除该社区信息？</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='confirm-del-button_comm' autofocus type="button" class="btn btn-danger" onclick="">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 标题 -->
            <h3 id="community_manage_title">社区管理系统</h3>
            <br>
            <!-- 添加按钮 -->
            <a id="add_community" href="#alterCommunity" role="button" data-toggle="modal"
               onclick="add_comm()" class="btn  btn-sm btn-primary"><i class="fa fa-plus-square fa fw"></i> 添加社区</a>
            <!-- 表格 -->
            <table class="table table-bordered table-striped table-hover display compact" cellspacing="0"
                   id="community_table" width="100%">
            </table>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        var doc_table;
        var cid = $("#get_c_id").attr("value");
        console.log('document ready');
        $.post('/community/table/' + cid,
            function (ret) {
                doc_table = $('#community_table').dataTable({
                    "aoColumns": [
                        {
                            "width": "8%",
                            "sTitle": "社区编号"
                        },
                        {"sTitle": "社区名"},
                        {"sTitle": "管理员"},
                        {"sTitle": "联系方式"},
                        {
                            "width": "12%",
                            "sTitle": "操作",
                            "bSortable": false
                        }
                    ],
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sFirst": "第一页",
                            "sLast": "最后一页"
                        },
                        "sZeroRecords": "似乎来到了一块没有数据的荒原...",
                        "sInfo": "共 _PAGES_ 页，显示 第 _START_ 条到第 _END_ 条，共 _TOTAL_ 条 ",
                        "sInfoEmpty": "0 条记录",
                        "sInfoFiltered": "",
                        "sLengthMenu": "显示 _MENU_ 条",
                        "sSearch": "<i class='fa fa-search' aria-hidden='true'></i>",
                        "sProcessing": "正在获取数据，请稍等..."
                    },
                    "bSort": true,
                    "bPaginate": true,
                    "sPaginationType": "full",
                    "sPageButton": "",
                    "bAutoWidth": true,
                    "bScrollCollapse": true,
                    "bStateSave": true
                });

                var communities = ret.data;
                for (var i in communities) {
                    console.log(communities[i]);
                    doc_table.fnAddData([
                        communities[i].c_id,
                        communities[i].c_name,
                        communities[i].u_name,
                        communities[i].u_phone,
                        "<button href='#alterCommunity' data-toggle='modal' onclick='modify_comm(" +
                        communities[i].c_id + ")' class='btn  btn-sm btn-default' type='button'>" +
                        "<i class='fa fa-pencil fa-fw'></i>修改</button>" + "  " +
                        "<button href='#confirmDeleteModal_comm' data-toggle='modal' onclick='delete_comm( " +
                        communities[i].c_id + ")' class='btn  btn-sm btn-danger' type='button'>" +
                        "<i class='fa fa-trash fa-fw'></i>删除</button>"
                    ])
                }
            }, 'json');

        $.post('/community/get_all_admin', function (ret) {
            var admins = ret.data;
            for (var i in admins) {
                $('#c_admin_table').append('<option value="' + admins[i].u_id + '">' + admins[i].u_name + '</option>');
            }
        }, 'json')
    });

    function check_value(name) {
        if (name === "") {
            $('#c_name').popover('show');
            return (false);
        }
        return (true);
    }

    function add_comm() {
        console.log("add it");
        $("#c_name").val("");
        $("#c_admin_table").val(0);
        $("#myModalLabel_comm").text("添加社区信息");
        $("#yes_btn_comm").attr('onclick', 'confirm_add_comm()');
    }

    function confirm_add_comm() {
        console.log('confirm_add_comm');
        if (!check_value($("#c_name").val())) {
            return;
        }
        $.post("/community/add", {
            'c_name': $("#c_name").val(),
            'u_id': $("#c_admin_table").val()
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/community';
            }
            alert(ret.msg);
        }, 'json');
    }

    function modify_comm(id) {
        console.log("modify it:" + id);
        $.post("/community/table/" + id, function (ret) {
            console.log(ret);
            data = ret.data[0];

            $("#c_name").val(data.c_name);
            $("#c_admin_table").val(data.u_id);
            $("#myModalLabel_comm").text("修改社区信息");
            $("#yes_btn_comm").attr('onclick', 'confirm_modify_comm(' + id + ')');
        }, 'json');
    }

    function confirm_modify_comm(id) {
        console.log("confirm_modify_comm:" + id);
        if (!check_value($("#c_name").val())) {
            return;
        }
        $.post("/community/modify", {
            'c_id': id,
            'c_name': $("#c_name").val(),
            'u_id': $("#c_admin_table").val()
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/community';
            }
            alert(ret.msg);
        }, 'json');
    }

    function delete_comm(id) {
        console.log("delete it");
        $('#confirm-del-button_comm').attr('onclick', 'confirm_del_comm(' + id + ')');
    }

    function confirm_del_comm(id) {
        console.log("confirm_del_comm:" + id);
        $.post("/community/delete", {
            'c_id': id
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/community';
            }
            alert(ret.msg);
        }, 'json');
    }
</script>

{% endblock script %}
