{% extends "base.html" %}
{% block title %}首页{% endblock %}
{%  set selected_menu = "index" %}

{% block content %}
<div class="container">
    <div class="col-md-12 column" style="background-color: white">
        <!--TODO: session c_name, u_phone-->
        <div class="col-md-3 column">
            <h4 align="left"><i class="fa fa-id-card fa-fw"></i>
                {{ session['u_name']}}</h4>
        </div>
        <div class="col-md-3 column">
            <h4 align="left"><i class="fa fa-user fa-fw"></i>
                {{ session['u_role'] }}</h4>
        </div>
        <div class="col-md-3 column">
            <h4 align="left"><i class="fa fa-users fa-fw"></i>
                {{ session['c_id'] }}</h4>
        </div>
        <div class="col-md-3 column">
            <h4 align="left"><i class="fa fa-phone fa-fw"></i>
                {{ session['logged_in'] }}</h4>
        </div>
    </div>

    <br>
    <hr>
    <div class="col-md-12 column">
        <h1>TABLE PLACEHOLDER</h1>
    </div>
    <!--&lt;!&ndash; 时间筛选器&ndash;&gt;-->
    <!--<div align="center">-->
    <!--从<input type="month" value="2017-01">到<input type="month" value="2017-01">-->
    <!--</div>-->

    <!-- TODO: 个人流水表格 -->
    <!--<table class="table table-bordered table-striped table-hover" cellspacing="0"-->
           <!--id="i_table" width="100%">-->
    <!--</table>-->
</div>

{% endblock content %}
