{% extends "base_login.html" %}
{% block title %}login{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<img alt="140x140" src="/static/images/logo.jpg" />
		</div>
	</div>
	<form class="form-signin" method="POST" action="{{ url_for('log_in') }}">
	<!-- TODO: action -->
		<hr>
			<div class="form-group">
				<input autofocus="autofocus" id="id_login" name="username" placeholder="用户名" type="text" required="" class="form-control">
			</div>
			<div class="form-group">
				<input id="id_password" name="password" placeholder="密码" type="password" required class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">登录</button>
			</div>
		<hr>
	</form>
</div>

{% endblock content %}