<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gold.png') }}"/>
    <title>{% block title %}登录{% endblock title %} - 彩虹桥</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }

    </style>
</head>

<body>
<div class="container">
    <div class="modal fade" id="resetPassword"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>

                <div class="modal-body" id="myModalBody">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-6">
                                <input size="16" id="username" type="text" value="" placeholder="用户名"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">原密码</label>
                            <div class="col-lg-6">
                                <input size="16" id="old_password" type="password" value="" placeholder="原密码"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">新密码</label>
                            <div class="col-lg-6">
                                <input size="16" id="new_password" type="password" value="" placeholder="新密码"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">再次输入</label>
                            <div class="col-lg-6">
                                <input size="16" id="confirm_new_password" type="password" value="" placeholder="确认新密码"
                                       class="form-control input-sm c6" data-content="输入不一致" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="no_btn" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="yes_btn" class="btn btn-danger" onclick="confirm_reset_pwd()">确定</button>
                </div>
            </div>
        </div>
    </div>


    <div id="content" align="center">
        <div class="container" style="margin: 10% 0">
            {% if error %}
            <div align="center">
                错误：帐户或密码错误
            </div>
            {% endif %}
            <form class="form-signin" method="POST" action="{{ url_for('log_in') }}">
                <h1 class="form-signin-heading" align="center">彩虹桥</h1>
                <hr>
                <div class="form-group">
                    <input autofocus="autofocus" id="id_login" name="username" placeholder="用户名"
                           type="text" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input id="id_password" name="password" placeholder="密码" type="password"
                           required="required" class="form-control">
                </div>
                {% if next %}
                <br>
                <input type='hidden' name="next" value="{{ next }}">
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="width: 100%">登录</button>
                </div>
                <div class="form-group">
                    <a class="pull-right" href="#resetPassword" data-toggle="modal">修改密码</a>
                </div>
                <!--Footer-->
                <div class="form-group" align="center">
                    <br>
                    <hr>
                    <p class="text-muted credit">
                        <a href="http://github.com/sonnyhcl/SimpleWebProject">Simple Web Project</a>
                        <br>
                        &copy; Copyright 2017
                    </p>
                </div>
            </form>

        </div>

    </div>
</div>
</body>

<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- 动态线条 -->
<script src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script src="/static/js/dynamicbg.js"></script>

<!--修改密码-->
<script type="text/javascript">
    function check_password(name, old_password, new_password, confirm_new_password) {
        if (name === "") {
            $('#username').popover('show');
            return (false);
        }
        if (old_password === "") {
            $('#old_password').popover('show');
            return (false);
        }
        if (new_password === "") {
            $('#new_password').popover('show');
            return (false);
        }
        if (confirm_new_password === "" || confirm_new_password !== new_password) {
            $('#confirm_new_password').popover('show');
            return (false);
        }
        return (true);
    }

    function reset_password() {
        console.log('reset password');
        $('#yes_btn').attr('onclick', 'confirm_reset_pwd()');
    }

    function confirm_reset_pwd() {
        console.log('confirm reset password');
        if (!check_password($('#username').val(), $('#old_password').val(),
                $('#new_password').val(), $('#confirm_new_password').val())) {
            return;
        }
        $.post("/reset_password", {
            'username': $('#username').val(),
            'old_password': $('#old_password').val(),
            'new_password': $('#new_password').val()
        }, function (ret) {
            console.log(ret);
            location.href = '/login';
        })
    }
</script>