{% extends "base.html" %}
{% block title %}订单{% endblock %}
{%  set selected_menu = "order" %}

{% block content %}
<div class="container">
    <!-- 增加弹窗 -->
    <div class="modal fade" id="alterOrder"
         role="dialog" aria-labelledby="myModalLabel_order" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel_order">标题</h4>
                </div>

                <div class="modal-body" id="myModalBody_order">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">产品名称</label>
                            <div class="col-lg-6">
                                <!-- 表格 -->
                                <select id="o_p_name_table" class="form-control input-sm" style="color:#666666"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">分配社区</label>
                            <div class="col-lg-6">
                                <!-- 表格 -->
                                <select id="o_c_name_table" class="form-control input-sm" style="color:#666666"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">数量</label>
                            <div class="col-lg-6">
                                <input size="16" id="o_amount" type="text" value="" placeholder="数量"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">备注</label>
                            <div class="col-lg-6">
                                <input size="16" id="o_note" type="text" value="" placeholder="备注"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="no-btn-order" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="yes_btn_order" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除弹窗模板-->
    {% if session['u_role'] == 'root' %}
    <!-- 删除订单 -->
    <div class="modal fade bs-example-modal-sm" id="confirmDeleteModal_order" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel_order">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="del_title_order">确认删除该订单信息？</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='confirm-del-button_order' autofocus type="button" class="btn btn-danger" onclick="">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- body -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 标题 -->
            <h3 id="product_manage_title">订单管理系统</h3>
            <br>
            {% if session['u_role'] == 'root' %}
            <!-- 添加按钮 -->
            <a id="add_order" href="#alterOrder" role="button" data-toggle="modal"
               onclick="add_order()" class="btn  btn-sm btn-primary"><i class="fa fa-plus-square fa-fw"></i>添加订单</a>
            {% endif %}
            <!-- 表格 -->
            <table class="table table-bordered table-striped table-hover display compact" cellspacing="0"
                   id="o_table" width="100%">
            </table>
        </div>
    </div>
</div>

<!-- cid -->
<input type="hidden" id="get_c_id" value="{{ session['c_id'] }}">

{% endblock content %}

{% block script %}
{{ super() }}

<script type="text/javascript">
    var cid = $("#get_c_id").attr("value");
    $(document).ready(function () {
        var doc_table;
        var cid = $("#get_c_id").attr("value");
        console.log('document ready');
        $.post('/order/table',
            function (ret) {
                doc_table = $('#o_table').dataTable({
                    "aoColumns": [
                        {
                            "width": "6%",
                            "sTitle": "订单号"
                        },
                        {
                            "width": "8%",
                            "sTitle": "开单日期"
                        },
                        {"sTitle": "产品名称"},
                        {
                            "sTitle": "pid",
                            "visible": false
                        },
                        {"sTitle": "设计师"},
                        {
                            "sTitle": "cid",
                            "visible": false
                        },
                        {"sTitle": "社区名"},
                        {
                            "width": "6%",
                            "sTitle": "数量"
                        },
                        {"sTitle": "备注"},
                        {
                            "width": "12%",
                            "sTitle": "操作",
                            "bSortable": false
                        }
                    ],
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sFirst": "第一页",
                            "sLast": "最后一页"
                        },
                        "sZeroRecords": "似乎来到了一块没有数据的荒原...",
                        "sInfo": "共 _PAGES_ 页，显示 第 _START_ 条到第 _END_ 条，共 _TOTAL_ 条 ",
                        "sInfoEmpty": "0 条记录",
                        "sInfoFiltered": "",
                        "sLengthMenu": "显示 _MENU_ 条",
                        "sSearch": "<i class='fa fa-search' aria-hidden='true'></i>",
                        "sProcessing": "正在获取数据，请稍等..."
                    },
                    "bSort": true,
                    "bPaginate": true,
                    "sPaginationType": "full",
                    "sPageButton": "",
                    "bAutoWidth": true,
                    "bScrollCollapse": true,
                    "bStateSave": true
                });

                var orders = ret.data;
                console.log("order table");
                for (var i in orders) {
                    console.log(orders[i]);
                    doc_table.fnAddData([
                        orders[i].o_id,
                        orders[i].o_timestamp.substring(0, 10),
                        orders[i].p_name,
                        orders[i].p_id,
                        orders[i].p_author,
                        orders[i].c_id,
                        orders[i].c_name,
                        orders[i].o_amount,
                        orders[i].o_note,
                        //修改按钮
                        "{% if session['u_role'] == 'root' %}" +
                        "<button href='#alterOrder' data-toggle='modal' " + "id='modify-order-btn_" + orders[i].o_id + "' " +
                        "onclick='modify_order(" + orders[i].o_id + ")' class='btn  btn-sm btn-default' type='button'>" +
                        "<i class='fa fa-pencil fa-fw'></i>修改</button>" +
                        //删除按钮
                        " <button href='#confirmDeleteModal_order' data-toggle='modal' onclick='delete_order( " +
                        orders[i].o_id + ")' class='btn  btn-sm btn-danger' type='button'><i class='fa fa-trash fa-fw'></i>删除</button>" +
                        "{% else %}" +
                        "<i class='fa fa-check' aria-hidden='true'></i>" +
                        "{% endif %}"
                    ])
                }
            }, 'json');

        $.post('/product/table', function (ret) {
            console.log("product table");
            var raw_products = ret.data;
            var products = [];
            var temp = {};
            for (var oi = 0; oi < raw_products.length; oi++) {
                if (!temp[raw_products[oi].p_name]) {
                    products.push(raw_products[oi]);
                    temp[raw_products[oi].p_name] = !0;
                }
            }
            for (var i in products) {
                console.log(products[i]);
                $('#o_p_name_table').append('<option value="' + products[i].p_id + '">' + products[i].p_name + '</option>');
            }
        }, 'json');

        $.post('/community/table/' + cid, function (ret) {
            console.log("community table");
            var communities = ret.data;
            for (var i in communities) {
                console.log(communities[i]);
                $('#o_c_name_table').append('<option value="' + communities[i].c_id + '">' + communities[i].c_name + '</option>');
            }
        }, 'json')
    });


    function check_value(p_name, p_author, c_name, amount) {
        if (p_name === "") {
            $('#p_name_order').popover('show');
            return (false);
        }
        if (p_author === "") {
            $('#p_author_name_order').popover('show');
            return (false);
        }
        if (c_name === "") {
            $('#o_c_name_table').popover('show');
            return (false);
        }
        if (amount === "") {
            $('#o_amount').popover('show');
            return (false);
        }
        return (true);
    }


    function add_order() {
        console.log("add product");
        $("#myModalLabel_order").text("增加订单信息");
        $('#o_amount').val("");
        $('#o_note').val("");
        $("#yes_btn_order").attr('onclick', 'confirm_add_order()');
    }


    function confirm_add_order() {
        console.log('confirm_add_order');
        if (!check_value($("#p_name_order").val(), $("#p_author_name_order").val(),
                $('#o_c_name_table').val(), $('#o_amount').val())) {
            return;
        }

        $.post("/order/add", {
            'p_id': $('#o_p_name_table').val(),
            'c_id': $('#o_c_name_table').val(),
            'o_amount': $('#o_amount').val(),
            'o_note': $("#o_note").val()
        }, function (ret) {
            console.log(ret);
            if(ret.status == "Success") {
                location.href = '/order';
            }
            alert(ret.msg);
        }, 'json');
    }


    function modify_order(id) {
//        var table = $('#o_table').DataTable();
        console.log("modify product:" + id);
        oid = $('#modify-order-btn_' + id).parents("tr")[0].getElementsByTagName('td')[1].innerText;
//        pid = $('#modify-order-btn_' + id).parents('tr')[0].getElementsByTagName('td')[3].innerText;
//        cid = $('#modify-order-btn_' + id).parents('tr')[0].getElementsByTagName('td')[6].innerText;
        oamount = $('#modify-order-btn_' + id).parents("tr")[0].getElementsByTagName('td')[5].innerText;
        onote = $('#modify-order-btn_' + id).parents('tr')[0].getElementsByTagName('td')[6].innerText;

        $("#myModalLabel_order").text("修改订单信息");

//        var d = table.row(this).data();
//        console.log(d);

//        $('#o_p_name_table').find('.').each(function () {
//           var data = $(this).val();
//           var s = data.split(',');
//           console.log('pid: '+s[3]);
//        });

        $('#o_amount').val(oamount);
        $('#o_note').val(onote);
        $('#yes_btn_order').attr('onclick', 'confirm_modify_order(' + id + ')');
    }


    function confirm_modify_order(id) {
        console.log("confirm_modify_order:" + id);
        if (!check_value($("#p_name_order").val(), $("#p_author_name_order").val(),
                $('#o_c_name_table').val(), $('#o_amount').val())) {
            return;
        }
        $.post("/order/modify", {
            'o_id': id,
            'p_id': $('#o_p_name_table').val(),
            'c_id': $('#o_c_name_table').val(),
            'o_amount': $('#o_amount').val(),
            'o_note': $('#o_note').val()
        }, function (ret) {
            console.log(ret);
            if(ret.status == "Success") {
                location.href = '/order';
            }
            alert(ret.msg);
        }, 'json');
    }


    function delete_order(id) {
        console.log("delete order");
        $('#confirm-del-button_order').attr('onclick', 'confirm_del_order(' + id + ')');
    }


    function confirm_del_order(id) {
        console.log("confirm_del_order:" + id);

        $.post("/order/delete", {
            'o_id': id
        }, function (ret) {
            console.log(ret);
            if(ret.status == "Success") {
                location.href = '/order';
            }
            alert(ret.msg);
        }, 'json');
    }
</script>

{% endblock script %}