{% extends "base.html" %}
{% block title %}产品{% endblock %}
{%  set selected_menu = "product" %}

{% block content %}
<div class="container">

    {% if session['u_role'] == 'root' %}
    <!-- 增加、修改 产品/工艺弹窗 -->
    <div class="modal fade" id="alterProduct"
         role="dialog" aria-labelledby="myModalLabel_prod" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cancel_prod">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel_prod">标题</h4>
                </div>

                <div class="modal-body" id="myModalBody_prod">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">产品名称</label>
                            <div class="col-lg-6">
                                <input size="16" id="p_name" type="text" value="" placeholder="产品名称"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">设计师</label>
                            <div class="col-lg-6">
                                <input size="16" id="p_author_name" type="text" value="" placeholder="设计师"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">工艺名称</label>
                            <div class="col-lg-6">
                                <input size="16" id="i_name" type="text" value="" placeholder="工艺名称"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">分钟单价</label>
                            <div class="col-lg-6">
                                <input size="16" id="i_unit_price" type="text" value="" placeholder="分钟单价（元）"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">工艺规格</label>
                            <div class="col-lg-6">
                                <input size="16" id="i_note" type="text" value="" placeholder="规格"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">参考用时</label>
                            <div class="col-lg-6">
                                <input size="16" id="i_ref_time" type="text" value="" placeholder="参考用时（分钟）"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="no-btn-prod" class="btn btn-primary" data-dismiss="modal" onclick="">取消
                    </button>
                    <button type="button" id="yes_btn_prod" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除弹窗模板-->
    <!--删除产品-->
    <div class="modal fade bs-example-modal-sm" id="confirmDeleteModal_prod" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="del_title_prod">确认删除标题</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">产品</label>
                            <div class="col-lg-6">
                                <select id="p_products" class="form-control input-sm" style="color:#666666">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='confirm-del-button_prod' autofocus type="submit" class="btn btn-danger" onclick="">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除工艺-->
    <div class="modal fade bs-example-modal-sm" id="confirmDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="del_title">确认删除标题</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='confirm-del-button' autofocus type="button" class="btn btn-danger" onclick="">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- body -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 标题 -->
            <h3 id="product_manage_title">产品管理系统</h3>
            <br>
            {% if session['u_role'] == 'root' %}
            <!-- 添加按钮 -->
            <a id="add_product" href="#alterProduct" role="button" data-toggle="modal"
               onclick="add_prod()" class="btn  btn-sm btn-primary"><i class="fa fa-plus-square fa-fw"></i>添加产品</a>
            <!-- 删除按钮 -->
            <a id="del_product" href="#confirmDeleteModal_prod" role="button" data-toggle="modal"
               onclick="delete_prod()" class="btn  btn-sm btn-danger"><i class="fa fa-trash fa-fw"></i>删除产品</a>
            {% endif %}
            <!-- 表格 -->
            <table class="table table-bordered table-striped table-hover display compact" cellspacing="0"
                   id="product_table" width="100%">
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        var doc_table;
        console.log('document ready');
        $.post('/product/table',
            function (ret) {
                doc_table = $('#product_table').dataTable({
                    "aoColumns": [
                        {"sTitle": "产品名"},
                        {"sTitle": "设计师"},
                        {"sTitle": "工艺名称"},
                        {"sTitle": "分钟单价"},
                        {"sTitle": "参考用时"},
                        {"sTitle": "规格"},
                        {
                            "width": "18%",
                            "sTitle": "操作",
                            "bSortable": false
                        }
                    ],
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sFirst": "第一页",
                            "sLast": "最后一页"
                        },
                        "sZeroRecords": "似乎来到了一块没有数据的荒原...",
                        "sInfo": "共 _PAGES_ 页，显示 第 _START_ 条到第 _END_ 条，共 _TOTAL_ 条 ",
                        "sInfoEmpty": "0 条记录",
                        "sInfoFiltered": "",
                        "sLengthMenu": "显示 _MENU_ 条",
                        "sSearch": "<i class='fa fa-search' aria-hidden='true'></i>",
                        "sProcessing": "正在获取数据，请稍等..."
                    },
                    "bSort": true,
                    "bPaginate": true,
                    "sPaginationType": "full",
                    "sPageButton": "",
                    "bAutoWidth": true,
                    "bScrollCollapse": true,
                    "bStateSave": true
                });

                var items = ret.data;
                for (var i in items) {
                    console.log(items[i]);
                    doc_table.fnAddData([
                        items[i].p_name,
                        items[i].p_author_name,
                        items[i].i_name,
                        items[i].i_unit_price,
                        items[i].i_ref_time,
                        items[i].i_note,
                        //修改按钮
                        "{% if session['u_role'] == 'root' %}" +
                        "<button href='#alterProduct' data-toggle='modal' id='modify-item-btn_" + items[i].i_id + "' " +
                        "onclick='modify_prod(" + items[i].p_id + ", " + items[i].i_id + ")' class='btn btn-sm btn-default' " +
                        "type='button'><i class='fa fa-pencil fa-fw'></i>修改</button>" + " " +
                        //增加按钮
                        "<button href='#alterProduct' data-toggle='modal' id='add-item-btn_" + items[i].i_id + "' " +
                        "onclick='add_item(" + items[i].p_id + ", " + items[i].i_id + ")' class='btn btn-sm btn-default' " +
                        "type='button'><i class='fa fa-plus-square fa-fw'></i>增加</button>" + " " +
                        //删除按钮
                        "<button href='#confirmDeleteModal' data-toggle='modal' onclick='delete_item( " +
                        items[i].i_id + ")' class='btn btn-sm btn-danger' type='button'>" +
                        "<i class='fa fa-trash fa-fw'></i>删除</button>" +
                        "{% else %}" +
                        "<i class='fa fa-check' aria-hidden='true'></i>" +
                        "{% endif %}"
                    ])
                }
            }, 'json');
        $.post('/product/table', function (ret) {
            var raw_products = ret.data;
            var products = [];
            var temp = {};
            for (var i = 0; i < raw_products.length; i++) {
                if (!temp[raw_products[i].p_name]) {
                    products.push(raw_products[i]);
                    temp[raw_products[i].p_name] = !0;
                }
            }
            for (i in products) {
                console.log(products[i]);
                $('#p_products').append('<option value="' + products[i].p_id + '">' + products[i].p_name + '</option>');
            }
        }, 'json')
    });


    function check_value(name, author_name, i_name, i_unit_price, i_ref_time) {
        if (name === "") {
            $('#p_name').popover('show');
            return (false);
        }
        if (author_name === "") {
            $('#p_author_name').popover('show');
            return (false);
        }
        if (i_name === "") {
            $('#i_name').popover('show');
            return (false);
        }
        if (i_unit_price === "") {
            $('#i_unit_price').popover('show');
            return (false);
        }
        if (i_ref_time === "") {
            $('#i_ref_time').popover('show');
            return (false);
        }
        return (true);
    }


    /***** 针对产品的操作 *****/
    //修改工艺&产品
    function modify_prod(p_id, i_id) {
        console.log("modify product:" + i_id);
        pname = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[0].innerText;
        pauthor = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[1].innerText;
        iname = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[2].innerText;
        unitprice = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[3].innerText;
        reftime = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[4].innerText;
        inote = $('#modify-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[5].innerText;
        $("#myModalLabel_prod").text("修改产品及工艺信息");
        $("#p_name").val(pname);
        $("#p_author_name").val(pauthor);
        $("#i_name").val(iname);
        $("#i_note").val(inote);
        $("#i_unit_price").val(unitprice);
        $("#i_ref_time").val(reftime);
        $("#yes_btn_prod").attr('onclick', 'confirm_modify_product(' + p_id + ', ' + i_id + ')');
    }


    function confirm_modify_product(p_id, i_id) {
        console.log("confirm_modify_product:" + i_id);
        if (!check_value($("#p_name").val(), $("#p_author_name").val(), $('#i_name').val(),
                $('#i_unit_price').val(), $('#i_ref_time').val())) {
            return;
        }
        $.post("/product/modify", {
            'p_id': p_id,
            'p_name': $('#p_name').val(),
            'p_author': $('#p_author_name').val(),
            'i_id': i_id,
            'i_name': $('#i_name').val(),
            'i_unit_price': $('#i_unit_price').val(),
            'i_ref_time': $('#i_ref_time').val(),
            'i_note': $("#i_note").val()
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/product';
            }
            else {
                alert(ret.msg);
            }
        }, 'json');
    }


    //增加产品
    function add_prod() {
        console.log("add product");
        $("#myModalLabel_prod").text("添加产品信息");
        $("#p_name").val("");
        $("#p_author_name").val("");
        $("#i_name").val("");
        $("#i_note").val("");
        $("#i_unit_price").val("");
        $("#i_ref_time").val("");
        $("#yes_btn_prod").attr('onclick', 'confirm_add_product()');
    }


    function confirm_add_product() {
        console.log('confirm_add_product');
        if (!check_value($("#p_name").val(), $("#p_author_name").val(),
                $('#i_name').val(), $('#i_unit_price').val(), $('#i_ref_time').val())) {
            return;
        }
        $.post("/product/add", {
            'p_name': $("#p_name").val(),
            'p_author': $('#p_author_name').val(),
            'i_name': $('#i_name').val(),
            'i_unit_price': $('#i_unit_price').val(),
            'i_ref_time': $('#i_ref_time').val(),
            'i_note': $('#i_note').val()
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/product';
            }
            else {
                alert(ret.msg);
            }
        }, 'json');
    }


    //删除产品
    function delete_prod() {
        console.log("delete product");
        $('#del_title_prod').text("选择要删除的产品");
        $('#confirm-del-button_prod').attr('onclick', 'confirm_del_product()');
    }


    function confirm_del_product() {
        p_id = $("#p_products").val();
        console.log("confirm_del_product:" + p_id);
        $.post("/product/delete", {
            'p_id': p_id
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/product';
            }
            else {
                alert(ret.msg);
            }
        }, 'json');
    }


    /***** 针对工艺的操作 *****/
    //增加工艺
    function add_item(p_id, i_id) {
        $("#myModalLabel_prod").text("添加工艺信息");
        console.log("add item");
        pname = $('#add-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[0].innerText;
        pauthor = $('#add-item-btn_' + i_id).parents("tr")[0].getElementsByTagName('td')[1].innerText;
        $("#p_name").val(pname);
        $("#p_author_name").val(pauthor);

        //lock readonly
        set_readOnly('p_name');
        set_readOnly('p_author_name');
        //unlock readonly
        $('#cancel_prod').attr('onclick', 'unset_readOnly(\'p_name\');' + 'unset_readOnly(\'p_author_name\')');
        $('#yes_btn_prod').attr('onclick', 'unset_readOnly(\'p_name\');' + 'unset_readOnly(\'p_author_name\');'
            + 'confirm_add_item(' + p_id + ')');
        $('#no-btn-prod').attr('onclick', 'unset_readOnly(\'p_name\');' + 'unset_readOnly(\'p_author_name\')');
    }


    function confirm_add_item(p_id) {
        console.log('confirm_add_item');
        if (!check_value(1, 1, $("#i_name").val(), $("#i_unit_price").val(), $("i_ref_time").val())) {
            return;
        }

        $.post("/product/add_item", {
            'p_id': p_id,
            'i_name': $("#i_name").val(),
            'i_unit_price': $("#i_unit_price").val(),
            'i_ref_time': $('#i_ref_time').val(),
            'i_note': $('#i_note').val()
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/product';
            }
            else {
                alert(ret.msg);
            }
        }, 'json');
    }


    //删除工艺
    function delete_item(id) {
        console.log("delete item");
        $('#del_title').text("确认删除该工艺信息？");
        $('#confirm-del-button').attr('onclick', 'confirm_del_item(' + id + ')');
    }


    function confirm_del_item(id) {
        console.log("confirm_del_item:" + id);
        $.post("/product/delete_item", {
            'i_id': id
        }, function (ret) {
            console.log(ret);
            if (ret.status == "Success") {
                location.href = '/product';
            }
            else {
                alert(ret.msg);
            }
        }, 'json');
    }
</script>

{% endblock script %}