{% extends "base.html" %}
{% block title %}流水{% endblock %}
{%  set selected_menu = "transaction" %}

{% block content %}
<div class="container">
    <!-- 增改弹窗模板 -->
    <div class="modal fade" id="alterTrans"
         role="dialog" aria-labelledby="trans_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel_trans">标题</h4>
                </div>

                <div class="modal-body" id="myModalBody_trans">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">选择人员</label>
                            <div class="col-lg-6" >
                                <!-- 表格 -->
                                <select id="t_user_table" onchange="getMissions(this.options[this.selectedIndex].value)"
                                        onfocus="getMissions(this.options[this.selectedIndex].value)" autofocus
                                        class="form-control input-sm" style="color:#666666"
                                        data-content="不能为空"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">选择任务</label>
                            <div class="col-lg-6">
                                <!-- 表格 -->
                                <select id="t_miss_table" class="form-control input-sm"
                                        style="color:#666666" data-content="不能为空">
                                    <option value="请选择">- 请选择 -</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">添加数量</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_amount" type="text" value="" placeholder="添加数量"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">添加备注</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_note" type="text" value="" placeholder="备注"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="no_btn_trans" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" id="yes_btn_trans" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--修改弹窗-->
    <!--偷懒一波23333-->
    <div class="modal fade" id="modifyTrans"
         role="dialog" aria-labelledby="trans_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel_trans_modify">标题</h4>
                </div>

                <div class="modal-body" id="myModalBody_trans_modify">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">当前人员</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_user_modify" type="text" value="" placeholder="人员"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" readonly="readonly"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">当前任务</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_mission_modify" type="text" value="" placeholder="任务"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0" readonly="readonly"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">修改数量</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_amount_modify" type="text" value="" placeholder="修改数量"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">修改备注</label>
                            <div class="col-lg-6">
                                <input size="16" id="t_note_modify" type="text" value="" placeholder="修改备注"
                                       class="form-control input-sm c6" data-content="不能为空" data-placement="bottom"
                                       tabindex="0"
                                       data-toggle="popover" data-trigger="focus"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="no_btn_trans_modify" class="btn btn-primary" data-dismiss="modal">取消
                    </button>
                    <button type="button" id="yes_btn_trans_modify" class="btn btn-danger" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除弹窗模版 -->
    {% if session['u_role'] == 'root' %}
    <div class="modal fade bs-example-modal-sm" id="confirmDeleteModal_trans" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel_trans">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">确认删除该条流水？</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id='confirm-del-button_trans' autofocus type="button" class="btn btn-danger" onclick="">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- body -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 标题 -->
            <h3 id="transaction_manage_title">流水管理系统</h3>
            <br>
            <!-- 添加按钮 -->
            <a id="add_trans" href="#alterTrans" role="button" data-toggle="modal"
               onclick="add_trans()" class="btn btn-sm btn-primary"><i class="fa fa-plus-square fa fw"></i> 添加流水</a>
            <!-- 表格 -->
            <table class="table table-bordered table-striped table-hover display compact" cellspacing="0"
                   id="t_table" width="100%">
            </table>
        </div>
    </div>
</div>

<!-- cid -->
<input type="hidden" id="get_c_id" value="{{ session['c_id'] }}">

{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('document ready');
        var doc_table;
        $.post('/transaction/table',
            function (ret) {
                doc_table = $('#t_table').dataTable({
                    "aoColumns": [
                        {
                            "width": "6%",
                            "sTitle": "订单号"
                        },
                        {"sTitle": "产品名"},
                        {"sTitle": "工艺名"},
                        {
                            "width": "6%",
                            "sTitle": "单价"
                        },
                        {"sTitle": "社区名"},
                        {
                            "width": "7%",
                            "sTitle": "任务总数"
                        },
                        {
                            "width": "7%",
                            "sTitle": "制作人"},
                        {
                            "width": "8%",
                            "sTitle": "制作日期"},
                        {
                            "width": "7%",
                            "sTitle": "制作数量"},
                        {
                            "width": "7%",
                            "sTitle": "总价"},
                        {"sTitle": "备注"},
                        {
                            "width": "7%",
                            "sTitle": "操作",
                            "bSortable": false
                        }
                    ],
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sFirst": "第一页",
                            "sLast": "最后一页"
                        },
                        "sZeroRecords": "似乎来到了一块没有数据的荒原...",
                        "sInfo": "共 _PAGES_ 页，显示 第 _START_ 条到第 _END_ 条，共 _TOTAL_ 条 ",
                        "sInfoEmpty": "0 条记录",
                        "sInfoFiltered": "",
                        "sLengthMenu": "显示 _MENU_ 条",
                        "sSearch": "<i class='fa fa-search' aria-hidden='true'></i>",
                        "sProcessing": "<i class='fa-li fa fa-spinner fa-spin'></i>请稍等..."
                    },
                    "bSort": true,
                    "bPaginate": true,
                    "sPaginationType": "full",
                    "sPageButton": "",
                    "bAutoWidth": true,
                    "bScrollCollapse": true,
                    "bStateSave": true
                });
                var transactions = ret.data;
                for (var i in transactions) {
                    console.log(transactions[i]);
                    doc_table.fnAddData([
                        transactions[i].o_id,
                        transactions[i].p_name,
                        transactions[i].i_name,
                        transactions[i].i_unit_price * transactions[i].i_ref_time,
                        transactions[i].c_name,
                        transactions[i].m_amount,
                        transactions[i].u_name,
                        transactions[i].t_timestamp.substring(0, 10),
                        transactions[i].t_amount,
                        transactions[i].t_amount * transactions[i].i_unit_price * transactions[i].i_ref_time,
                        transactions[i].t_note,
                        // 修改
                        "<button href='#modifyTrans' data-toggle='modal' " + "id='modify-transaction-btn_" + transactions[i].t_id + "' " +
                        "onclick='modify_trans(" + transactions[i].t_id + ")' class='btn btn-sm btn-default' type='button'> " +
                        "<i class='fa fa-pencil'></i></button>" + "  " +
                        // 删除
                        "<button href='#confirmDeleteModal_trans' data-toggle='modal' onclick='delete_trans( " +
                        transactions[i].t_id + ")' class='btn btn-sm btn-danger' type='button'>" +
                        "<i class='fa fa-trash'></i></button>"
                    ])
                }
            }, 'json');
        var cid = $("#get_c_id").attr("value");

        $.post('/user/table', function (ret) {
            var users = ret.data;
            console.log(users);
            for (var i in users) {
                $('#t_user_table').append('<option value="' + users[i].u_id + '">' + users[i].u_name + '</option>');
            }
        }, 'json');

    });


    function getMissions(uid) {
        //clear
        var target_miss = document.getElementById('t_miss_table');
        target_miss.options.length = 0;
        if (uid == '请选择') {
            target_miss.options.add(new Option('- 请选择 -', '请选择'));
        }
        var raw_missions, missions = [];
        var mids = [];
        $.post('/mission/table', function (ret) {
            raw_missions = ret.data;
            // 根据uid获得mid
            for (var ui = 0; ui < raw_missions.length; ui++) {
                if (raw_missions[ui].u_id == uid) {
                    mids.push(raw_missions[ui].m_id);
                }
            }
            // 根据mid得到条目
            for (var mi = 0; mi < raw_missions.length; mi++) {
                for (var mid = 0; mid < mids.length; mid++)
                    if (raw_missions[mi].m_id == mids[mid]) {
                        missions.push(raw_missions[mi]);
                        break;
                    }
            }
            console.log(missions);
            if (missions.length == 0) {
                target_miss.options.add(new Option('- 请选择 -', '请选择'));
            }
            for (var ki = 0; ki < missions.length; ki++) {
                target_miss.options.add(new Option(missions[ki].o_id + '-' +
                    missions[ki].p_name + '-' + missions[ki].i_name, missions[ki].m_id));
            }
        }, 'json');
    }


    function check_value(name, mission, amount) {
        if (name === "请选择") {
            $('#t_user_table').popover('show');
            return (false);
        }
        if (mission === "") {
            $('#t_miss_table').popover('show');
            return (false);
        }
        if (amount === "") {
            $('#t_amount').popover('show');
            return (false);
        }
        return (true);
    }


    function add_trans() {
        console.log("add transaction");
        $("#t_amount").val("");
        $('#t_note').val("");
        $("#myModalLabel_trans").text("添加流水信息");
        $("#yes_btn_trans").attr('onclick', 'confirm_add_trans()');
    }


    function confirm_add_trans() {
        console.log('confirm_add_trans');
        if (!check_value($("#t_user_table").val(), $("#t_miss_table").val(), $('#t_amount').val())) {
            return;
        }
        $.post("/transaction/add", {
            'm_id': $('#t_miss_table').val(),
            't_amount': $('#t_amount').val(),
            't_note': $('#t_note').val()
        }, function (ret) {
            console.log(ret);
            location.href = '/transaction';
        }, 'json');
    }

    function modify_trans(id) {
        console.log("modify it");
        // readonly
        tuser = $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[10].innerText;
        tmission = $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[1].innerText + '-' +
            $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[2].innerText + '-' +
            $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[3].innerText;
        // alterable
        tamount = $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[5].innerText;
        tnote = $('#modify-transaction-btn_' + id).parents('tr')[0].getElementsByTagName('td')[11].innerText;

        $("#t_amount_modify").val(tamount);
        $('#t_mission_modify').val(tmission);
        $('#t_user_modify').val(tuser);
        $("#t_note_modify").val(tnote);
        $("#myModalLabel_trans_modify").text("修改流水信息");
        $("#yes_btn_trans_modify").attr('onclick', 'confirm_modify_trans(' + id + ')');
    }


    function confirm_modify_trans(t_id) {
        console.log("confirm_modify_trans:" + t_id);
        if (!check_value($("#t_user_modify").val(), $("#t_mission_modify").val(), $('#t_amount_modify').val())) {
            return;
        }
        $.post("/transaction/modify", {
            't_id': t_id,
            't_amount': $('#t_amount_modify').val(),
            't_note': $('#t_note_modify').val()
        }, function (ret) {
            console.log(ret);
            location.href = '/transaction';
        }, 'json');
    }


    function delete_trans(id) {
        console.log("delete transaction");
        $('#confirm-del-button_trans').attr('onclick', 'confirm_del_trans(' + id + ')');
    }


    function confirm_del_trans(id) {
        console.log("confirm_del_trans:" + id);
        $.post("/transaction/delete", {
            't_id': id
        }, function (ret) {
            console.log(ret);
            location.href = '/transaction';
        }, 'json')
    }
</script>

{% endblock script %}